/** HEADER **/

.md-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 2.8rem;
    color: var(--md-primary-bg-color);
    background-color: #13bef9;
    box-shadow: 0 0 0.2rem rgba(0,0,0,0), 0 0.2rem 0.4rem rgba(0,0,0,0);
    transition: color 250ms,background-color 250ms;
    padding-top: 5px;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    display: block;
    width: rem;
    height: 1.9rem;
    fill: currentColor;
    margin-top: -8px;
}

.md-header-nav__button.md-logo {
    margin: .2rem;
    padding: .4rem;
    width: 160px;
}

.md-header-nav__topic {
    position: absolute;
    width: 100%;
    transition: transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1),opacity 150ms;
    font-size: 1.2em;
    font-weight: 700;
}




.md-typeset {
    font-size: .78rem;
    line-height: 1.5;
    -webkit-print-color-adjust: exact;
}

.md-typeset h1 {
    margin: .5em 0 1.25em;
    color: #323c48;
    font-weight: 400;
    font-size: 2.6em;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.md-typeset h2 {
    margin: 1.6em 0 .64em;
    color: #13bef9;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.md-typeset h3 {
    margin: 1.6em 0 .8em;
    font-weight: 700;
    font-size: 1.25em;
    color: #13bef9;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

/** SIDE BARS **/

.md-typeset h1[id]::after {
    display: block;
    width: 100% !important;
    max-width: 60px;
    content: "";
    height: 4px;
    background: #13bef9;
    margin-top: 20px !important;
}

.md-nav__item .md-nav__link--active {
    color: white !important;
    background-color: #e86a25;
    border-radius: 0px;
    padding: 10px;
    margin-left:-0.6rem;
    padding-right:0px;
}
.md-nav__item .md-nav__link--active:hover {
	color: white;
}
.md-nav__item {
    
    border-top: 0px solid darkgray;
}

.md-nav__item--active {
   
    border-top: 0px solid darkgray;
    

}

.md-nav__link:hover
{
color: #e86a25;
}



.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg
{
	width:100% !important;
}
.md-nav__link
{
margin-bottom: 0.4rem !important;
margin-top: 0.4rem !important;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
width: 100%;
height: 100%;
}

@media screen and (max-width: 76.1875em) 
{.md-nav--primary .md-nav__item--active>.md-nav__link {

margin-left:0px;

}
}

@media screen and (max-width: 76.1875em)
{
.md-nav--primary .md-nav__item--active>.md-nav__link:focus, .md-nav--primary .md-nav__item--active>.md-nav__link:hover {
color: #e86a25;

}
}
.md-grid {
    max-width: 1440px;
  }

.tabbed-set {
display: flex;
position: relative;
flex-wrap: wrap;
}

.tabbed-set .highlight {
background: #ddd;
}

.tabbed-set .tabbed-content {
display: none;
order: 99;
width: 100%;
}

.tabbed-set label {
width: auto;
margin: 0 0.5em;
padding: 0.25em;
font-size: 120%;
cursor: pointer;
}

.tabbed-set input {
position: absolute;
opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #e86a25;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}